* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 135px;
}

.div1 {
  display: flex;
  gap: 10px;
}

.middle_img img {
  width: 185px;
  height: 135px;
}

.icons {
  font-size: 64px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
