* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  width: 90%;
  margin-left: 85px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div1 {
  display: flex;
  gap: 10px;
}

.middle_img img {
  width: 185px;
  height: 135px;
}

.icons {
  font-size: 64px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

section {
  display: flex;
  /* margin-right: -90px; */
}

.section_divs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texts h3 {
  color: #ff9401;
  font-size: 26px;
}

.food {
  display: flex;
  align-items: center;
  gap: -30px;
  font-size: 53px;
}

.food span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mood {
  display: flex;
  align-items: center;
  gap: -30px;
  font-size: 63px;
}

.texts p {
  line-height: 30px;
  margin: 30px 0;
}

.texts button {
  padding: 15px 56px;
  border: none;
  border-radius: 20px;
  background-color: #ff9401;
  color: #e5e5e5;
  margin: 20px 0;
}

.next_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  background-color: #ffedd3 1%;
  margin-left: -90px;
}

.paragraphs h3 {
  color: #ff9401;
  font-size: 26px;
}

.paragraphs h1 {
  font-size: 56px;
}

.paragraphs p {
  line-height: 25px;
}

.paragraphs button {
  padding: 15px 56px;
  border: none;
  border-radius: 20px;
  background-color: #ff9401;
  color: #e5e5e5;
  margin: 20px 0;
}

.main_features {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features {
  margin-left: -80px;
}

.right_img {
  margin-right: -65px;
}

.middle_features {
  text-align: center;
}

.middle_features h3 {
  font-size: 26px;
  color: #ff9401;
  margin: 20px;
}

.middle_features h1 {
  font-size: 56px;
}

.boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.box1 {
  width: 220px;
  height: 330px;
}

.box1 h4 {
  margin: 10px 0;
  font-size: 22px;
}

.recipes h3 {
  text-align: center;
  color: #ff9401;
  font-size: 23px;
}

.start_recipes {
  display: flex;
  align-items: center;
  margin-left: 455px;
  font-size: 30px;
}

.main_box {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.child_box1 {
  width: 380px;
  height: 377px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
}

.child_box2 {
  width: 380px;
  height: 377px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
}

.child_box3 {
  width: 380px;
  height: 377px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
}

.infor1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.flame button {
  padding: 7px 15px;
  border: none;
  border-radius: 15px;
  color: #818181;
  font-size: 17px;
}

.icon_side h3 {
  color: #818181;
}

.icon_side h2 {
  color: #ff9401;
}

.alone {
  margin: 80px 0 60px 554px;
  padding: 12px 23px;
  border: none;
  border-radius: 23px;
  background-color: #ff9401;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.cola_part {
  display: flex;
  justify-content: space-between;
  width: 89%;
}

.left_cola {
  margin-left: -90px;
}

.app_store {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
}

.img_side img {
  width: 510px;
  height: 490px;
}

.information_side h3 {
  color: #ff9401;
}

.information_side h1 {
  width: 420px;
  font-size: 53px;
  color: #615d5d;
}

.information_side p {
  padding-top: 10px;
  width: 360px;
}

.right_imb img {
  margin-left: -80px;
}
